<script type="text/ng-template" id="uploadFileContent.html">
        <div id="colorBox" ng-app="fileUploader.uploader" ng-controller="FileCtrl">
            <div upload-process="#uploadProcess" id="coreWrapper">
                <div hide-on-upload  ngf-select ng-model="files" type="file" accept="image/*"
                     ngf-multiple="true" lass="left" id="upload-global-file-wrapper">
                    <span class="computerIcon"></span>
                    <span class="green">browse</span> your computer
                </div>
                <div hide-on-upload  focus-input="#upload-global-link-input" class="pull-left">
                    <div id="upload-global-url">
                        <span class="webIcon"></span>
                        <input type="text" id="upload-global-link-input" ng-model="rmfile" remote-file class="placeholder-onkeydown placeholder" title="enter image URLs" placeholder="enter image URLs">
                    </div>
                </div>
                <div hide-on-upload  class="clearfix" id="upload-global-dragdrop"
                     ngf-drop ngf-select ng-model="files"
                     ngf-drag-over-class="dragover"
                     ngf-multiple="true" ngf-allow-dir="true"
                     accept="image/*">
                    <span class="dragdropIcon"></span>
                    <span class="green">drag and drop</span> here
                </div>
                <div class="pull-left" style="width: 100%">
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    <div hide-on-upload id="upload-global-actions">
                        <button  ng-click="uploadFiles()" type="button" id="upload-global-start-button" class="button-big green">
                            <span class="start-btn-icon"></span>
                            Start Upload
                        </button>
                    </div>
                    <div ng-hide="!(addedFiles && addedFiles.length)">
                        <div id="upload-global-queue-description" class="textbox nodisplay" style="display: block;">Images ({{addedFiles.length}})</div>
                        <ul id="attachment_list" class="list-group">
                            <li ng-repeat="f in addedFiles track by $index" class="list-group-item attachment_item">
                                <img ng-src="{{f.dataUrl}}" width="50" class="img-thumbnail">
                                <span uploadId="{{f.uploadId}}" class="upload_{{f.uploadId}} badge"></span>
                            <span style="color: white">
                                {{f.name}}
                            </span>
                                <button hide-on-upload type="button" ng-click="removeFromList(f.uploadId)"
                                        title="Remove {{f.name}}"
                                        class="close"  aria-label="Remove">
                                    <span aria-hidden="true">&times;</span></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</script>