.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    float: left;
    height: 25px;
    border-top: 2px solid #232323;
    width: 186px;
    padding: 72px 0 10px 54px;
    border-right: 1px solid #232323;
    position: relative;
    font-size: 16px;
    clear: both;
}

.modal-content{
    border: none;
}

.dragover {
    border: 5px dashed blue;
}

#colorBox{

    max-width: 475px;
    background-color: #121211;

}

#upload-global-file-wrapper {
    cursor: pointer;
    z-index: 2;
    direction: ltr;
    position: relative;
    overflow: hidden;
    width: 237px;
    height: 25px;
    padding: 75px 0 40px 30px;
    float: left;
    background: #2b2b2b;
    background: -moz-linear-gradient(top,#2b2b2b 0,#121211 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2b2b2b),color-stop(100%,#121211));
    background: -webkit-linear-gradient(top,#2b2b2b 0,#121211 100%);
    background: -o-linear-gradient(top,#2b2b2b 0,#121211 100%);
    background: -ms-linear-gradient(top,#2b2b2b 0,#121211 100%);
    background: linear-gradient(to bottom,#2b2b2b 0,#121211 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2b2b', endColorstr='#121211', GradientType=0);
    border-right: 1px solid #232323;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}
#upload-global-file-wrapper:hover, #upload-global-album-checkbox-div button:hover, #upload-global-file-wrapper.hover {
    background: #2b2b2b;
    background: -moz-linear-gradient(top,#2b2b2b 0,#444442 0,#121211 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2b2b2b),color-stop(0%,#444442),color-stop(100%,#121211));
    background: -webkit-linear-gradient(top,#2b2b2b 0,#444442 0,#121211 100%);
    background: -o-linear-gradient(top,#2b2b2b 0,#444442 0,#121211 100%);
    background: -ms-linear-gradient(top,#2b2b2b 0,#444442 0,#121211 100%);
    background: linear-gradient(to bottom,#2b2b2b 0,#444442 0,#121211 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444442', endColorstr='#121211', GradientType=0)!important;
}

.green {
    color: #85BF25!important;
}

span.computerIcon {
    width: 65px;
    height: 59px;
    top: 6px;
    left: 37%;
    background: url("/images/common/site-sprite.png") 1px 6px no-repeat;
    display: block;
    position: absolute;
}
#upload-global-file {
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    font-size: 300px;
    height: 1000px;
    right: 0;
    top: 0;
    position: absolute;
}

#upload-global-url {
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    color: #fff;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    border-left: 1px solid #121211;
    width: 237px;
    height: 115px;
    padding-top: 60px;
    background: #2b2b2b;
}
#upload-global-url .webIcon {
    width: 56px;
    height: 59px;
    top: 6px;
    left: 38%;
    background: url("/images/common/site-sprite.png") -68px 0 no-repeat;
    display: block;
    position: absolute;
}
#upload-global-link-input {
    width: 90%;
    margin: 13px;
}
input[type=text], input[type=password] {
    height: 32px;
}
input[type=text], input[type=password], textarea {
    font-family: inherit;
    border: 1px solid transparent;
    border-top: 1px solid #171717;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    border-bottom: 1px solid #333;
    background-color: #1c1c1c;
    outline: 0 none;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: .9em;
    line-height: 1.5em;
    resize: none;
    color: #f2f2f2;
    margin-bottom: 10px;
    letter-spacing: .02em;
}

#upload-global-dragdrop {
    float: left;
    height: 25px;
    border-top: 2px solid #232323;
    width: 100%;
    padding: 72px 0 35px 54px;
    border-right: 1px solid #232323;
    position: relative;
    font-size: 16px;
    background-color: #121211;
}
#upload-global-dragdrop .dragdropIcon {
    width: 81px;
    height: 70px;
    top: 0;
    left: 36%;
    background: url("/images/common/site-sprite.png") -200px 6px no-repeat;
    display: block;
    position: absolute;
}

#upload-global-actions {
 /*  margin-bottom: 6px */
    width: 100%;
}

#upload-global-start-button, #upload-global-long-button {
    width: 100%;
    height: 50px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: 0;
    border-left: 1px solid #242424;
    margin: 0;
}

#upload-global-start-button .start-btn-icon {
    background: url("/images/common/site-sprite.png") -169px -8px no-repeat;
    display: inline-block;
    vertical-align: text-bottom;
    width: 25px;
    height: 20px;
}
#attachment_list{
    border-top: 2px solid #232323;
    border-right: 1px solid #232323;
    background-color: #121211;
    overflow: visible;
    overflow-x: hidden;
    max-height: 190px;
}
#attachment_list, #attachment_list .attachment_item{
    background-color: #242424;
}


#attachment_list .attachment_item{

    border-top: 2px solid #181817;
    border-right: 1px solid #181817;
    border-left: 1px solid #181817;
    border-bottom: 2px solid #181817;
    background-color: #121211;

}

.attachment_item .img-thumbnail{
    padding: 0;
}


#upload-global-queue-description {
    background-color: #444442 !important;
    border-bottom: 1px solid #181817;
    border-top: 1px solid #181817;
    color: #FFF !important;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 2px;
    letter-spacing: 1px;
    font-family: inherit;
    word-spacing: normal;
    line-height: 16px;
    margin: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

button.close{
    color: white;
    opacity: 1;
    font-size: 35px;
}
button.close:hover{
    color: red;
}
input[type=button].button-big:hover, input[type=submit].button-big:hover, button.button-big:hover {
    background: #2b2b2b;
    background: -moz-linear-gradient(top,#2b2b2b 0,#444442 0,#121211 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2b2b2b),color-stop(0%,#444442),color-stop(100%,#121211));
    background: -webkit-linear-gradient(top,#2b2b2b 0,#444442 0,#121211 100%);
    background: -o-linear-gradient(top,#2b2b2b 0,#444442 0,#121211 100%);
    background: -ms-linear-gradient(top,#2b2b2b 0,#444442 0,#121211 100%);
    background: linear-gradient(to bottom,#2b2b2b 0,#444442 0,#121211 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444442', endColorstr='#121211', GradientType=0);
    border-radius: 8px;
}
input[type=button].button-big, input[type=submit].button-big, button.button-big {
    width: 145px;
    height: 44px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    font-family: arial,sans-serif;
    background: #2b2b2b;
    background: -moz-linear-gradient(top,#2b2b2b 0,#121211 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2b2b2b),color-stop(100%,#121211));
    background: -webkit-linear-gradient(top,#2b2b2b 0,#121211 100%);
    background: -o-linear-gradient(top,#2b2b2b 0,#121211 100%);
    background: -ms-linear-gradient(top,#2b2b2b 0,#121211 100%);
    background: linear-gradient(to bottom,#2b2b2b 0,#121211 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2b2b', endColorstr='#121211', GradientType=0);
    border-radius: 8px;
    border: 2px solid #444442;
}